html, body {
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
	height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
	background: #67B26F;  /* fallback for old browsers */
	background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

* {
    margin: 0;
    padding: 0;
	}

.intro, .about, .projects, .contact {
	min-height: 100vh;
}

.projects {
	padding-top: 20px;
}

.navbar{
	font-family: 'Roboto Mono', sans-serif;
	text-align: right;
	position: fixed;
	width: 100%;
	font-size: 1.5vh;
	
}

.navbar-toggle {
	/* background: linear-gradient(to right, rgba(76,162,205,1), rgba(103,178,111,1)); */
	transition: background 1s ease-in;
	background: rgba(255,255,255,.8);
}


.nav-link {
	color: black !important;
}


.wrapper {
	font-family: 'Roboto Mono', sans-serif;
	padding: 40vh 3vw 40vh 3vw;
	font-size: 1.5vw;
	text-align: center;
	max-height: 100vh;
}

.intro-text {
	padding: 1.5vh;	
}

.about-title, .projects-title, .contact-title {
	font-family: 'Roboto Mono', sans-serif;
	padding-top: 8vh;
	font-size: 2vw;
	text-align: center;
}

.contact-title {
	padding-top: 8vh;
}
.contact {
	background-color: rgba(110,169,158,1);
}

@media (max-width: 840px) {
	.wrapper {
		font-size: 3vw;
	}

	.about, .projects-title, .contact-title {
		font-size: 2.5vw;
	}
}
